
@{
    ViewData["Title"] = "Sosyal Medya Listesi";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Sosyal Medya Hesapları Tablosu</h4>
            <p class="card-description">
                <a style="position:absolute;right:21px;top:22px;" href="@Url.Action("Add","SocialMedia")" class="btn btn-outline-success">Ekle</a>
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>URL</th>
                            <th>İkon</th>
                           
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.SocialMediaID</th>
                                <td>@item.Name</td>
                                <td><a href="@item.Url">@item.Url</a></td>
                                <td><i style="font-size:25px;" class="@item.Icon"></i></td>
                                <td>
                                    <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                                       
                                        <a href="/SocialMedia/Delete/@item.SocialMediaID" class="dropdown-item preview-item">
                                            <div class="preview-thumbnail">
                                            </div>
                                            <div class="preview-item-content">
                                                <p class="preview-subject ellipsis mb-1 text-small">Sil</p>
                                            </div>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a href="/SocialMedia/Update/@item.SocialMediaID" class="dropdown-item preview-item">
                                            <div class="preview-thumbnail">
                                            </div>
                                            <div class="preview-item-content">
                                                <p class="preview-subject ellipsis mb-1 text-small">Güncelle</p>
                                            </div>
                                        </a>
                                    </div>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
